#chat{
	height: 400px;
}
#contentWrap{
	width: 100%;
	display: none;
}
#chatWrap{
	display: inline-block;
	float: left;
	border: 1px #000 solid;
	margin-right: 5em;
}
.error{
	color: red;
}
.whisper{
	color: gray;
	font-style: italic;
}
#users{
	display: inline-block;
	margin-right: 5em;
}
#canvas{
	display: inline-block;
	border: 1px solid #000000;
}